*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    flex-grow: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

img, svg {
    vertical-align: top;
}

ul, ol, li {
    list-style: none;
}

input, button, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    background-color: inherit;
}

button {
    cursor: pointer;
    padding: 0;
    border: none;
}
